@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes zoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.webpagetest {
    background-color: var(--color-nocturnal-blue);
    display: grid;
    gap: var(--spacing-m);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: var(--spacing-m);
}

.webpagetest .score-value {
    font-size: 0;
}

.webpagetest h4 {
    color: var(--color-white);
    font-size: var(--body-font-size-s);
    margin-top: var(--spacing-xs);
    text-align: center;
    text-transform: capitalize;
}

.score-value {
    --percentage: var(--value);
    --green: #0c6;
    --orange: #fa3;
    --red: #f33;
    --grey: var(--color-wild-seal);
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    position: relative;
    width: 80px;
}

.score-value::before {
    -webkit-mask: radial-gradient(at 50% 50%, #0000 64%, #000 64%);
    -webkit-mask-mode: alpha;
    animation: progress 2s 0.5s forwards;
    content: "";
    height: 100%;
    left: 0;
    mask: radial-gradient(at 50% 50%, #0000 64%, #000 64%);
    mask-mode: alpha;
    position: absolute;
    top: 0;
    width: 100%;
}

.score-value.green::before {
    background: conic-gradient(var(--green) calc(var(--percentage) * 1%), var(--grey) 0);
}

.score-value.orange::before {
    background: conic-gradient(var(--orange) calc(var(--percentage) * 1%), var(--grey) 0);
}

.score-value.red::before {
    background: conic-gradient(var(--red) calc(var(--percentage) * 1%), var(--grey) 0);
}

.score-value::after {
    color: var(--color-wild-seal);
    content: attr(aria-valuenow) '%';
    font-family: var(--font-family-regular);
    font-size: 20px;
}

.score-value.green::after  { color: var(--green); }
.score-value.orange::after { color: var(--orange); }
.score-value.red::after    { color: var(--red); }

/* Animation styles */
.score-value[style="0"]::before {
    animation: spin 2s linear infinite;
    background: transparent;
    border-radius: 50%;
    border-top: 2px solid var(--green);
    display: block;
    height: 80px;
    margin: 0 auto;
    mask: radial-gradient(at 1% 1%, #0000 1%, #000 1%);
    right: 0;
    width: 80px;
}

.score-value[aria-valuenow="100"] {
    animation: zoom 1s ease-in-out forwards;
}

@media (width >= 900px) {
    .webpagetest {
        grid-template-columns: repeat(4, 1fr);
    }

    .score-value {
        height: 120px;
        width: 120px;
    }

    .score-value::after {
        font-size: 30px;
    }

    .score-value[style="0"]::before {
        border-top: 10px solid var(--green);
        height: 100%;
        width: 100%;
    }

    .webpagetest h4 {
        font-size: var(--body-font-size-m);
    }
}
